.banner {
position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;

}

._img {

    width: 100%;
    height: 100vh;
}

._text {
    color: black;
    padding: 10px;
    position: absolute;
    top: 200px;
    left: 200px;
    width: 30%;
    height:60%;
    border-radius: 10px;
    background-color: #ccfd4d;
}
._text1{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
._text2{
        letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: none;
    margin: 27px 0 0;
}
.btn1{
    color: white;
    border-radius: 10px;
    background-color: black;
    border-style: none;
    font-weight: 700;
    background-image: none;
    margin: 34px auto 0 0;
    padding: 13px 39px 14px;
}
